/*全局样式*/
@import "./element-variables.scss";
@import './wms-var.scss';
@import "./tool.scss";
@import "./warehouse-files-input.scss";

html{
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

body{
  height: 100%;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

#app {
  text-align: center;
  color: #fff;
  height: 100%;
  min-width: 750px;
}

@mixin wms_bg_color(){
  background-color: $--wms-theme-color;
}

@mixin wms_font_color(){
  color: $--wms-theme-color !important;
}

ul>li, ol>li {
  text-decoration: none;
  list-style-type: none;
}
*,*:before,*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:active {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

input:focus {
  outline: none;
  text-decoration: none;
}

.wms-scroll-styl::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/*正常情况下滑块的样式*/
.wms-scroll-styl::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .05);
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}
/*鼠标悬浮在该类指向的控件上时滑块的样式*/

.wms-scroll-styl:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}
/*鼠标悬浮在滑块上时滑块的样式*/

.wms-scroll-styl::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}
/*正常时候的主干部分*/

.wms-scroll-styl::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: white;
}
/*鼠标悬浮在滚动条上的主干部分*/

.wms-scroll-styl::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
  background-color: rgba(0, 0, 0, .01);
}
.fr {
  float: right;
}

.fl {
  float: left;
}
/*container*/
.app-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.header_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.sidebar-container {
  width: 200px;
  height: calc(100% - 60px);
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  z-index: 100;
}
.main-container {
  height: calc(100% - 60px);
  position: relative;
  color: #333333;
  top: 60px;
  margin-left: 200px;
  overflow: hidden;
}
.app-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: auto;
  color: #333333;
}
.wms-content-mg {
  padding: 15px;
}
/*表格样式*/
.table-row-header-styl {
  th {
    background-color: #f2f2f2 !important;
  }
}
.table-row-styl {
  td {
    padding: 0 !important;
    div {
      line-height: 40px !important;
    }
  }
}
